@{
    Layout = null;
}

<div id="component_Connecting" class="COMPONENT com_connecting animated" data-animate-in="anim_shovein_bottom" data-animate-out="anim_shoveout_top">
	<h1>Connecting</h1>
	<div class="spinner_container_32">
		<div class="spinning_loader"></div>
	</div>
</div>