@{
    Layout = null;
}

<div id="component_Hello" class="COMPONENT com_hello animated" data-animate-in="anim_shovein_bottom" data-animate-out="anim_shoveout_top">
	<h1>Hello</h1>
	<h2>What's your name?</h2>
	<form>
		<input name="name" />
	</form>
	<div class="spinner_container_32" style="display:none;">
		<div class="spinning_loader"></div>
	</div>
</div>