@{
    Layout = null;
}

<div id="component_PlayUI" class="COMPONENT com_playui">
	<div class="leftbar animated anim_shovein_left">
		<ul class="roundlist">
			<li>
				<div class="playername">Corbin</div>
				<div class="word">Rationality</div>
				<div class="score">+1250</div>
			</li>
			<li>
				<div class="playername">Hayden</div>
				<div class="word">Aardvark</div>
				<div class="score">+1250</div>
			</li>
			<li>
				<div class="playername">Darren</div>
				<div class="word">Rabbit</div>
				<div class="score">+480</div>
			</li>
		</ul>
		<ul class="playerlist">
		</ul>
	</div>
	<div class="playpane">

	</div>
</div>