<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://towg.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>towg.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>towg</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$towg</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="WordsEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=kt7jmc0bcr.database.windows.net;Initial Catalog=Words;Persist Security Info=True;User ID=roomie@kt7jmc0bcr;Password=R00mi3rocks;Application Name=EntityFramework" Name="Data Source=kt7jmc0bcr.database.windows.net;Initial Catalog=Words;Persist Security Info=True;User ID=roomie@kt7jmc0bcr;Password=R00mi3rocks;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ThatOneWordGame.Models.WordsEntities, ThatOneWordGame" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WordsEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.WordModel.csdl|res://*/Models.WordModel.ssdl|res://*/Models.WordModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=kt7jmc0bcr.database.windows.net;Initial Catalog=Words;Persist Security Info=True;User ID=roomie@kt7jmc0bcr;Password=R00mi3rocks;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>